
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 10px;
    margin-bottom: -100px;
    
  }
  
  
  a {
    text-decoration: none;
  }
  
  .row {
    display: flex;
    justify-content: center;
    margin: 20px; /* Adjust margin between rows */
  }
  
  .box {
    width: 200px;
    height: 70px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 60px; /* Adjust margin between boxes */
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .box1{
    width: 200px;
    height: 70px;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 60px; /* Adjust margin between boxes */
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .box:hover {
    transform: scale(1.1);
  }
  .box1:hover {
    transform: scale(1.1);
  }
  
  
 /* Media query for responsiveness */
@media only screen and (max-width: 768px) {
  .box {
    width: 200px; /* Further reduce width for smaller screens */
    height: 50px; /* Further reduce height for smaller screens */
  
    margin-left: 20px ; /* Further reduce margin between boxes for smaller screens */
  }
  .box1 {
    width: 200px; /* Further reduce width for smaller screens */
    height: 50px; /* Further reduce height for smaller screens */
  
    margin-left: -40px ; /* Further reduce margin between boxes for smaller screens */
  }
  /* .container {
 
 
  } */
}