.flash-message-form {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .flash-message-form h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .flash-message-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .flash-message-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .flash-message-form button:hover {
    background-color: #0056b3;
  }
  .brand-logo,
.model-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}