/* Common styles for both laptop and mobile screens */
body, ul {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px #000;
  color: black;
  z-index: 1000;
}

.logo img {
  width: 200px;
  height: 95px;
  margin-right: 0px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  gap: 30px;
  margin: 0px 30px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-profile:hover .profile-menu {
  display: block;
}

.profile-menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none; /* Hide the menu by default */
}

.profile-menu li {
  padding: 10px 20px;
}

.profile-menu li:hover {
  background-color: #555;
}

.profile-icon {
  width: 50px;
  height: 50px; /* Set height equal to width for a circular shape */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff; /* Add a white border */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
}

.menuicon {
  display: none;
}

.nav-menu li.active {
  padding-bottom: 2px;
  border-bottom: 5px solid #fdab01;
}
.nav-menu li:hover {
  transform: scale(1.1);
}

.nav-login {
  border-radius: 20px;
  padding: 10px 38px;
  background: #041484;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}

.nav-services {
  position: relative;
  cursor: pointer;
}

.nav-services .submenu {
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000;
}

.nav-services:hover .submenu {
  display: block;
}

.nav-services .submenu li {
  padding: 10px 20px;
}

.nav-services .submenu li:hover {
  background-color: #fdab01;
  
}

ul {
  list-style: none;
}
.nav-cart {
  position: relative;
  display: inline-block;
}
.cart-count{
  color: red;
 
}
.nav-cart img {
  width: 50px;
  height: 50px;
}
.logout-greeting {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  border: 1px solid #000;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  align-items: center;
}

.logout-greeting .logout-logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* City selector container */
.select-city {
  position: relative;
  margin-right:20px;
 
}

/* City selector styling */
.select-city select {
  padding: 8px 12px;
  border: 1px solid #ccc;
   border-radius: 4px;
  font-size: 16px;
  background-color: #f8f8f8;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.select-city select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .submenu li {
    width: 50%;
  }

  .logo img {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }

  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    display: none;
  }
  .nav-services{
    width: 70%;
    
  } 
 .submenu li:hover {
    background-color: #fdab01;
    width: 72%;
    
  }
  .nav-menu.mobile-active {
    display: flex;
  }

  .nav-menu li {
    width: 100%;
    padding: 10px 0;  /* Increased padding for better touch interaction */
  }

  .profile-menu {
    right: 30px;
  }
  

  .profile-icon {
    width: 50px;
    height: 50px;
  }

  .menuicon {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    margin-right: 40px;
    width: 60px;  /* Adjusted size for better fit on smaller screens */
    height: 60px; /* Adjusted size for better fit on smaller screens */
  }

  .nav-login {
    width: 100%;
    text-align: center;
  }
  .select-city {
    width: 65%;
    margin-bottom: 0px;
  }

  .select-city select {
    width: 50%;
  }
}
