/* Common styles for both laptop and mobile screens */
body, ul {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 5px #000;
  color: black;
  z-index: 1000;
}

.logo img {
  width: 200px;
  height: 95px;
  margin-right: 20px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  gap: 30px;
  margin: 0px 30px;
}

.nav-menu li {
  cursor: pointer;
}

.nav-profile:hover .profile-menu {
  display: block;  
}

.profile-menu {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 100%; 
  right: 0;
  background-color: #333;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
  border-radius: 4px;
  display: none; /* Hide the menu by default */
}

.profile-menu li {
  padding: 10px 20px;
}

.profile-menu li:hover {
  background-color: #555; 
}

.profile-icon {
  width: 50px;  
  height: 50px; /* Set height equal to width for a circular shape */
  border-radius: 50%;  
  cursor: pointer;
  border: 2px solid #fff; /* Add a white border */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
}
.menuicon {
  display: none;
}

.nav-menu li.active {
  padding-bottom: 2px;
  border-bottom: 5px solid #fdab01;
}

.nav-menu li:hover {
  transform: scale(1.1);
}

.nav-login {
  border-radius: 20px;
  padding: 10px 38px;
  background: #041484;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}
.nav-services {
  position: relative;
  cursor: pointer;
}

.nav-services .submenu {
  position: absolute;
  cursor: pointer;
  top: 100%;
  left: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0px 0px 5px #000;
}

.nav-services:hover .submenu {
  display: block;
}

.nav-services .submenu li {
  padding: 10px 20px;
}

.nav-services .submenu li:hover {
  background-color: #fdab01;
}

ul{
  list-style: none;

}

/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

  .menuicon {
    display: block;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  .nav .logo {
    margin-left: 10px;
  }

  .nav-services .submenu {
    width: 200%;
  }
  
  @media only screen and (max-width: 768px) {
    .nav-services .submenu {
      width: 200%;
    }
  }
}
